/*** base page setup ***/

@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

/////// --------
// quick fonts
/////// --------

body {
  font-size: 12px;
  line-height: 1.3em;
}

h1, h2, h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 15px;
}

p, li, a, button {
  font-size: 12px;
  line-height: 1.3em;
}

p, ul, li {
  margin-bottom: 10px;
}
